<app-header>
  <ng-template #img>
    <img
      [attr.src]="logo" [style.width.px]="width" alt="">
  </ng-template>
  <ng-template #search>
    <app-search
      [placeholder]="placeholder"
      (searchSequence)="text = $event"></app-search>
  </ng-template>

</app-header>
<div *ngIf="users$ | async as users; else loading">
  <app-card *ngFor="let user of users | userFilter:text; let i = index; odd as isOdd"
            [position]="i+1"
            [user]="user" [isOdd]="isOdd"
  ></app-card>
</div>

<ng-template #loading>
  ...loading
</ng-template>

